body {
  margin: 0 0;
  padding: 0;
  height: 100%;
}
body {
  margin: 0 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 30px;
  border-bottom: 2px solid red;
  box-shadow: 5px 1px 20px 1px;
}

.container-body {
  min-height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1 1 150px;
  gap: 1em;
}

.box {
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-height: 100px;
  width: 30%;
  border: 1px solid red;
  align-items: center;
}

.box span {
  flex-grow: 1;
}
.box button {
  align-self: stretch;
}

.container-features {
  /* height: 400px; */
  background-color: lightblue;
  display: flex;
  align-items: center;
  flex: 1 1 30px;
  justify-content: center;
  flex-direction: column;
  gap: 3em;
}

.h1-features {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  gap: 3em;
}

.details-card {
  border: 1px solid white;
  border-radius: 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: white;
  align-items: center;
}

.circle {
  width: 80px;
  height: 80px;
  background: #e74c3c;
  border-radius: 50%;
  margin-bottom: 15px;
}
