.box {
  width: 150px;
  height: 150px;
}
.box:nth-child(odd) {
  background-color: red;
}
.box:nth-child(even) {
  background-color: blue;
}

.container {
  height: 700px;
  background-color: rgb(214, 210, 210);
  display: flex;
  /* flex-direction: column;  */
  /* column -> main */

  flex-direction: row;
  flex-wrap: wrap;
  /* main axis -> row */
  /* cross axis -> column */
  /* flex-flow: row wrap; */

  /* main axis */
  justify-content: flex-start;
  justify-content: flex-end;
  justify-content: center;

  gap: 24px;
  /* spaces between items only */
  /* justify-content: space-between; */
  /* spaces between and out of items */
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */

  /* cross axis */
  /* default */
  /* align-items: stretch;
  align-items: flex-start;
  align-items: flex-end;
  align-items: center; */

  /* align-content: flex-start;
  align-content: flex-end;
  align-content: center; */
  /* align-content: center; */
  /* align-items: center; */
}

/* high order go last one */
/* .order-1 {
  background-color: yellow !important;
  order: 2;
  flex-grow: 1;
}

.order-2 {
  background-color: purple !important;
  order: 1;
  flex-grow: 1;
} */

#spec {
  background-color: blue;
}

.spec {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: red;
}

div {
  background-color: yellow;
}

#spec .insider{
  background-color: lightcyan;
}
.spec .insider{
  background-color: purple;
}

.insider:hover{
  background-color: green !important;
}

/* (1,0,0) */
/* (1,3,0) */
/* (0,3,0) */


/* (id,class,tag) */
/* (id,class or pesudo class,tag or pesudu element) */
/* id(1,0,0) */
/* class(0,1,0) */
/* tag(0,0,1) */
