.item {
  padding: 20px;
  border: 2px solid black;
  background-color: lightcyan;
}

.way-one-container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: auto;
  gap: 6px;
}

.way-one-header {
  grid-column: 1/4;
  background-color: lightcoral;
}

.way-one-sidebar {
  /* (1fr) */
  grid-column: 1/2;
  background-color: lightgray;
}

.way-one-content {
  /* (2fr 2fr) */
  grid-column: 2/4;
  background-color: lightseagreen;
}

.way-one-footer {
  grid-column: 1/4;
  background-color: lightpink;
}

@media screen and (max-width: 576px) {
  .way-one-container {
    grid-template-columns: 1fr;
  }
  .way-one-header,
  .way-one-sidebar,
  .way-one-content,
  .way-one-footer {
    grid-column: 1/2;
  }
}
/* zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz */
/* zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz */
/* zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz */

.way-two-container {
  margin-top: 56px;
  display: grid;
  gap: 6px;
  grid-template-columns: 1fr 2fr 2fr;
  /* 1fr     2fr       2fr */
  /* col      col      col     --> each row*/
  grid-template-areas:
    "myHeader myHeader myHeader"
    "mySide myContent myContent"
    "myFooter myFooter myFooter";
}

.way-two-header {
  grid-area: myHeader;
  background-color: lightcoral;
}

.way-two-sidebar {
  grid-area: mySide;
  background-color: lightgray;
}

.way-two-content {
  grid-area: myContent;
  background-color: lightseagreen;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
}
.way-two-content-child-3 {
  grid-column: 1/3;
}

.way-two-footer {
  grid-area: myFooter;
  background-color: lightpink;
}

.list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.list-item {
  font-size: 18px;
  font-weight: 600;
  padding: 6px 6px;
}

.footer-list {
  display: flex;
  justify-content: center;
  gap: 12px;
  list-style-type: none;
}

.footer-list li {
  font-size: 18px;
  font-weight: 600;
}

@media screen and (max-width: 576px) {
  .way-two-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "myHeader"
      "mySide"
      "myContent"
      "myFooter";
  }
  .way-two-content {
    grid-template-columns: 1fr;
  }
  .way-two-content-child-3 {
    grid-column: 1/2;
  }
  .list {
    flex-direction: row;
  }
  .footer-list {
    flex-direction: column;
    align-items: center;
  }
}

/* zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz */
/* zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz */
/* zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz */

.auto-fit-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  gap: 20px;
  justify-content: center;
}

.card {
  width: 100%;
  padding: 2px;
  background-color: lightgray;
  border-radius: 12px;
}

.card-image {
  display: flex;
  justify-content: center;
}
.card-image img {
  width: 95%;
  border-radius: 6px;
}

.card-info {
  padding: 4px 24px;
}

.card-btn {
  display: flex;
  justify-content: flex-end;
  padding: 4px 24px 16px 0px;
}
.card-btn button {
  background-color: lightseagreen;
  border: none;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 24px;

  cursor: pointer;
}

.navbar {
  padding: 25px;
  background-color: lightgreen;
  margin-bottom: 24px;
  position: sticky;
  top: 0;
}

.footer {
  padding: 25px;
  background-color: black;
  margin-bottom: 24px;
  color: white;
  position: fixed;
  bottom: -24px;
  left: 0;
  right: 0;
  z-index: 8;
}

.to-top {
  background-color: yellow;
  font-weight: bold;
  padding: 5px;
  position: fixed;
  bottom: 100px;
  right: 50px;
  z-index: 99;
  cursor: pointer;
}
